<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<div class="col-lg-7">
		<div class="input-group">
		<form class="form-horizontal form-validation row sub-content spacing" id="form1" name="searchLocation" method="get" ng-submit="searchLoc()">
			<input class="form-control" type="text" placeholder="Search location for weather" id="text1" name="text1" class="form-control" ng-model="locationText" ng-maxlength="40">
		</form>

		</div>

		<div class="table-responsive">
    
      <table class="table">
        <thead>
          <tr>
            <th width="15%" >Role Name</th>
            <th width="35%" >Role Description</th>
            <th width="30%" >Privileges</th>
            <th width="20%" >Corporate Role</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="item in nameLoc" bgcolor="#111"> 
            <td>11313           
            </td>
            <td>11313           
            </td>            
            <td>11313           
            </td>
            <td>11313           
            </td>
            </tr ng-repeat-end>         
        </tbody>
      </table>
    
  </div>
	</div>
</body>
</html>